/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

@import url(animate.css);

/*
Theme Name: iDea - Clean & Powerful Bootstrap Theme
Author: HtmlCoder
Author URI: http://www.htmlcoder.me
Author e-mail: htmlcoder.me@gmail.com
Version: 1.0.0 
Created: July 2014
License URI: http://wrapbootstrap.com
File Description: Custom Animations
*/

/*Custom Animations*/

@-webkit-keyframes fadeInDownSmall {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, -20px, 0);
 transform: translate3d(0, -20px, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
}
 @keyframes fadeInDownSmall {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, -20px, 0);
 -ms-transform: translate3d(0, -20px, 0);
 transform: translate3d(0, -20px, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: translate3d(0, 0, 0);
 -ms-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
}
.fadeInDownSmall {
	-webkit-animation-name: fadeInDownSmall;
	animation-name: fadeInDownSmall;
}
 @-webkit-keyframes fadeInLeftSmall {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(-20px, 0, 0);
 transform: translate3d(-20px, 0, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
 @keyframes fadeInLeftSmall {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(-20px, 0, 0);
 -ms-transform: translate3d(-20px, 0, 0);
 transform: translate3d(-20px, 0, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 -ms-transform: none;
 transform: none;
}
}
.fadeInLeftSmall {
	-webkit-animation-name: fadeInLeftSmall;
	animation-name: fadeInLeftSmall;
}
 @-webkit-keyframes fadeInRightSmall {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(20px, 0, 0);
 transform: translate3d(20px, 0, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
 @keyframes fadeInRightSmall {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(20px, 0, 0);
 -ms-transform: translate3d(20px, 0, 0);
 transform: translate3d(20px, 0, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 -ms-transform: none;
 transform: none;
}
}
.fadeInRightSmall {
	-webkit-animation-name: fadeInRightSmall;
	animation-name: fadeInRightSmall;
}
 @-webkit-keyframes fadeInUpSmall {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, 20px, 0);
 transform: translate3d(0, 20px, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
 @keyframes fadeInUpSmall {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, 20px, 0);
 -ms-transform: translate3d(0, 20px, 0);
 transform: translate3d(0, 20px, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 -ms-transform: none;
 transform: none;
}
}
.fadeInUpSmall {
	-webkit-animation-name: fadeInUpSmall;
	animation-name: fadeInUpSmall;
}
