@charset "utf-8";
/* CSS Document */
html {
	box-sizing: border-box;
	height: 100%;
}
body {
	font-family: Open Sans, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	min-height: 100%;
	position: relative;
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	outline: medium none;
	padding: 0;
}
p + p {
	padding: 10px 0;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}
iframe {
	max-width: 100%;
}
a:hover, a:focus {
	outline: medium none;
	text-decoration: none;
}
.clear {
	clear: both;
}
input, textarea, select, .form input, .form textarea, .form select {
	box-shadow: none !important;
}
.offset-lg-1 {
	margin-left: 8.333%;
}
.offset-lg-2 {
	margin-left: 16.667%;
}
.offset-lg-3 {
	margin-left: 25%;
}
.offset-lg-4 {
	margin-left: 33.33%;
}
.offset-lg-5 {
	margin-left: 41.67%;
}
.offset-lg-6 {
	margin-left: 50%;
}
.offset-lg-7 {
	margin-left: 58.33%;
}
.offset-lg-8 {
	margin-left: 66.667%;
}
.offset-lg-9 {
	margin-left: 75%;
}
.offset-lg-10 {
	margin-left: 83.33%;
}
.offset-lg-11 {
	margin-left: 91.667%;
}
.offset-lg-12 {
	margin-left: 100%;
}
/*Header Css Start*/
#header {
	position: relative;
	background-color: #595252;
}
.innerHeader {
	padding: 15px 68px;
}
a.switchMenu {
	color: #ffffff;
	display: block;
	position: absolute;
	top: 50%;
	left: 20px;
	font-size: 20px;
	margin-top: -17px;
	opacity: 1;
}
a.switchMenu.switchScrolled {
	position: fixed;
	z-index: 9;
	top: 0;
	display: block;
	width: 100%;
	background-color: #1a2842;
	left: 0;
	margin-top: 0;
	padding: 20px;
}
.top_social_links {
	margin: 6px 0;
}
.top_social_links li {
	display: inline-block;
	margin-right: 6px;
}
.top_social_links li a {
	width: 40px;
	height: 40px;
	line-height: 37px;
	text-align: center;
	font-size: 20px;
	border: 1px solid #D9DFE7;
	color: #fff;
	border-radius: 50%;
	display: block;
}
.top_social_links li:hover .facebook {
	border-color: #3b5998;
	background-color: #3b5998;
}
.top_social_links li:hover .twitter {
	border-color: #00aced;
	background-color: #00aced;
}
.top_social_links li:hover .instagram {
	border-color: #bc2a8d;
	background-color: #bc2a8d;
}
.logo {
	font-size: 34px;
	font-family: 'Cookie', cursive;
	line-height: 27px;
	text-align: center;
	margin-top: 14px;
}
.logo a {
	color: #fff;
	display: block;
}
.logo a span {
	display: block;
	font-weight: normal;
	color: #E68A00;
	font-size: 26px;
}
.topContact {
	background-color: #F37123;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	display: flex;
}
.topContact h3 {
	font-size: 25px;
}
.topContact h3 a {
	color: #ffffff;
	font-weight: bold;
}
.topContact i {
	display: inline-block;
	margin-right: 15px;
}
.topContact i:before {
	font-size: 38px;
	vertical-align: middle;
	color: #fff;
	border-right: 1px solid #ffffff;
	padding-right: 11px;
}
/*Navbar Css Start*/


.navbar {
	background-color: rgba(89, 82, 82, 0.54);
	min-width: 270px;
	position: absolute;
	top: 98px;
	left: 0;
	padding: 26px 10px;
	padding-left: 40px;
	z-index: 9999;
}
.navbar-brand {
	display: none;
	color: #fff;
}
.navbar-nav {
	display: block;
	width: 100%;
}
.navbar-nav .nav-item {
	display: block;
}
.navbar-nav .overview {
	color: #ffffff;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 7px;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
	width: 100%;/* border-bottom: 1px solid #ffffff; */
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size: 12px;
	padding: 6px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #e68a00;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
	position: absolute;
	left: auto;
	right: -173px;
	top: 0;
	background-color: rgba(89, 82, 82, 0.54);
	border-radius: 0;
	padding: 5px 0 5px 0;
}
.dropdown-item {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #f27022;
}
.dropdown-toggle::after {
	margin-left: .255em;
	vertical-align: middle;
	border-left: .3em solid;
	border-top: .3em solid transparent;
	border-bottom: .3em solid transparent;
	border-right: none;
}
.sps {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.sps--blw {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 99;
}
.sps--blw .navbar-nav {
}
.sps--blw .nav-item {
	display: inline-block;
}
.sps--blw .navbar-nav .nav-link {
	padding: 15px 20px;
	font-weight: bold;
}
.sps--blw .overview {
	display: none;
}
.sps--blw .navbar-nav .dropdown-menu {
	right: auto;
	left: 0;
	top: 100%;
	min-width: 200px;
}
.sps--blw .dropdown-toggle::after {
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
	border-bottom: none;
}
.sps--blw .dropdown-item {
}
/*Hero Section Start*/
.sliderBanner .owl-item .item {
	max-height: 400px;
	position: relative;
}
.heroSection {
	position: relative;
	z-index: 1;
}
.heroSection_right_block {
	background-color: #fefefe;
}
.heroSection_right_block .col-lg-6 {
	padding: 5px;
}
.heroSection_right_block figure {
	position: relative;
	margin: 0;
	cursor: pointer;
	overflow: hidden;
}
.heroSection_right_block figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.heroSection_right_block figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.heroSection_right_block figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.14);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.heroSection_right_block figure figcaption a.btn {
	border-color: #fff;
	border-radius: 0;
	color: #fff;
	padding: 8px 50px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.heroSection_right_block figure:hover figcaption {
	opacity: 1;
}
.heroSection_right_block figure:hover figcaption a.btn {
	background-color: transparent;
}
.heroSection_right_block .blockSection {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	height: 100%;
	padding: 15px 28px;
	text-align: center;
	background-color: #1a2842;
	color: #fff;
}
.heroSection_right_block .blockSection h4 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	padding-bottom: 6px;
	margin-bottom: 7px;
}
/*.heroSection_right_block .blockSection h4 i {
	font-size: 15px;
	display: inline-block;
	margin-right: 2px;
	vertical-align: middle;
}*/
.heroSection_right_block .blockSection p {
	max-height: 42px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.heroSection_right_block .blockSection a.btn {
	margin-top: 10px;
	border-color: #fff;
	border-radius: 0;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 5px 15px;
}
.heroSection_right_block .blockSection a.btn:hover, .heroSection_right_block figure figcaption a.btn:hover {
	background-color: #E68A00;
	color: #fff;
	border-color: #E68A00;
}
.btn-outline-warning.focus, .btn-outline-warning:focus, .heroSection_right_block figure figcaption a.btn:focus {
	box-shadow: none;
}
.owl-dots {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.owl-dots .owl-dot {
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	display: inline-block;
	margin: 0 4px;
}
.owl-dots .owl-dot.active {
	background-color: #f37123;
	border-color: #bd581b;
}
/*Hero Section Start*/
/*Booking Sectio Start*/
.bookingSection {
	background-color: #f37123;
	padding: 20px;
}
.filter_room {
}
.bookRoom {
	text-transform: uppercase;
	border-right: 1px solid #ffffff;
	margin-right: 30px;
	color: #fff;
	font-size: 17px;
	font-weight: 300;
}
.bookRoom span {
	display: block;
	color: #fff;
	font-size: 30px;
	font-weight: 900;
	line-height: 25px;
	margin: 0;
}
.filter_room h4 {
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}
.multiselect.dropdown-toggle {
	width: 100%;
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding: 5px 0;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;
	position: relative;
	border-bottom: 2px solid #fff;
	border-radius: 0;
}
.multiselect-native-select .dropdown-toggle:after {
	position: absolute;
	content: "\f107";
	right: 11px;
	top: 50%;
	font-size: 14px;
	color: #fff;
	font-family: "FontAwesome";
	border: none;
	margin-top: -7px;
}
ul.multiselect-container.dropdown-menu {
	padding: 11px 19px;
	background-color: rgb(251, 251, 251);
}
.multiselect-native-select, .multiselect-native-select .btn-group {
	display: block;
	width: 100%;
}
.multiselect-container>li>a {
	color: #212529;
	font-size: 13px;
}
.multiselect-container>li>a>label {
	padding: 0;
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin-right: 10px;
	vertical-align: middle;
}
.input-wrap {
	display: inline-block;
	width: 40%;
	margin-right: 34px;
}
.input-wrap .form-control {
	background-color: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #fff;
	height: auto;
	padding: 5px 0;
	font-size: 13px;
	color: #fff;
}
.date-picker-wrapper {
	border: 1px solid #5d5454;
	background-color: #595252;
}
.month-wrapper .prev, .month-wrapper .next {
	background-color: #32343a;
	color: #fff;
	border-radius: 50%;
}
.month1 {
}
.date-picker-wrapper .drp_top-bar .default-top {
	color: #fff;
	font-size: 14px;
}
.month-wrapper {
	color: #51545f;
	font-family: Open Sans, Helvetica, sans-serif;
}
.month-wrapper tr th, .month-wrapper tr td {
	border: 1px solid #ccc;
}
.date-picker-wrapper .drp_top-bar .apply-btn.disabled {
	color: #ffffff;
	border: solid 1px #d2601c;
	background: #f37123;
}
.date-picker-wrapper .drp_top-bar.normal .normal-top {
	color: #fff;
}
.normal-top span, .date-picker-wrapper b {
	color: #fff !important;
}
.btn-wrapper .btn {
	border-radius: 0;
	text-transform: uppercase;
	background-color: #595252;
	width: 100%;
	border-color: #524b4b;
	font-size: 13px;
	font-weight: bold;
	padding: 11px 10px;
	cursor: pointer;
}
/*Booking Sectio End*/
/* About Section Start */
.aboutSection {
	padding: 30px 0;
}
.introBlock {
	position: relative;
}
.introBlock .introContent {
	font-size: 14px;
	width: 100%;
	line-height: 27px;
	margin: 0 auto;
}
.introBlock h3 {
	font-size: 29px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 35px;
	text-transform: uppercase;
	position: relative;
}
.introBlock h3:after {
	content: "";
	width: 60px;
	height: 5px;
	background-color: #f37123;
	display: block;
	margin-top: 7px;
}
.introBlock h3 span {
	display: block;
	font-weight: 300;
	font-size: 14px;
	line-height: 100%;
}
.introBlock p {
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	max-height: 110px;
	overflow: hidden;
	margin-bottom: 20px;
}
.introBlock a.btn, .tab-content .tab-pane .btn, .newsletter .btn, .review-form .form-group button, .contact-form .btn, .roomList .roomInfo .btn, .bookingForm .btn_submit, .roomDetail a.btn {
	background-color: transparent;
	border-color: #f37123;
	color: #f37123;
	border-radius: 0;
	font-size: 13px;
	text-transform: uppercase;
	border: 0 solid;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: rgb(243, 113, 35);
	outline-offset: 0px;
	text-shadow: none;
	cursor: pointer;
	-webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.introBlock a.btn:hover, .tab-content .tab-pane .btn:hover, .newsletter .btn:hover, .review-form .form-group button:hover, .contact-form .btn:hover, .roomList .roomInfo .btn:hover, .bookingForm .btn_submit:hover, .roomDetail a.btn:hover {
	border: 1px solid;
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
}
/* About Section End */
/*Service Section Css Start*/
.serviceSection {
	padding: 50px 0;
}
.title {
	max-width: 400px;
	margin: 0 auto;
}
.title h2 {
	font-size: 25px;
	letter-spacing: 5px;
	line-height: 1.44;
	color: #000;
	margin: 0;
	font-weight: 300;
	text-transform: uppercase;
}
.title p {
	white-space: nowrap;
	text-transform: none;
	font-style: italic;
	letter-spacing: normal;
	position: relative;
	background: inherit;
	padding: 0 30px;
	display: block;
	font-family: 'Cookie', cursive;
	font-size: 22px;
}
.title span {
	background-color: #fff;
	padding: 5px 20px;
	display: inline-block;
	/* z-index: 1; */
	position: relative;
}
.whiteText {
	margin-bottom: 20px;
}
.whiteText h2 {
	color: #fff;
}
.whiteText p {
}
.graySection span {
	background-color: #fdf6e0;
}
.graySection {
	background-color: #FDF6E0;
}
.title p:before {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #212529;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
}
.whiteText p:before {
	background-color: #fff;
}
.serviceList {
}
.serviceList ul {
}
.serviceList ul li {
	width: 100%;
	position: relative;
	padding: 0;
	list-style: none;
}
.serviceList ul li .serviceInfo {
	width: 50%;
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0 20px;
	position: relative;
}
.serviceList ul li:before {
	content: "";
	width: 3px;
	height: 100%;
	display: block;
	background-color: #b7b7b7;
	position: absolute;
	left: 50%;
}
.serviceList ul li i {
	width: 70px;
	height: 70px;
	overflow: hidden;
	display: block;
	left: 0;
	float: left;
	margin: 0 20px;
	border-radius: 50%;
	background-color: #fff;
}
.serviceList ul li h5 {
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 5px;
	letter-spacing: 4px;
	font-size: 16px;
}
.serviceList ul li p {
	line-height: 22px;
}
.serviceList ul li:nth-child(odd) .serviceInfo {
	float: right;
	padding: 20px 0px 0px 20px;
}
.serviceList ul li:nth-child(even) .serviceInfo {
	text-align: right;
}
.serviceList ul li .serviceInfo:after {
	content: "\f111";
	font-family: 'FontAwesome';
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	left: 0;
	color: #1a2842;
	width: 16px;
	height: 16px;
	font-size: 11px;
	border-radius: 50%;
	text-align: center;
	margin-left: -8px;
	margin-top: -8px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
	line-height: 17px;
	cursor: pointer;
}
.serviceList ul li:nth-child(even) .serviceInfo:after {
	right: -9px;
	left: auto;
}
.serviceList ul li:nth-child(even) .serviceInfo i {
	float: right;
}
.serviceList ul li .serviceInfo .serviceContent {
}
.serviceList ul li:hover .serviceInfo:after {
	background-color: #e68a00;
}
/*Service Section Css End*/
/*Room & Rates Css Start*/
.roomRate {
	padding: 50px 0;
}
/*NavTab Css*/
.nav-tabs {
	border: none;
	margin-top: 15px;
}
.nav-tabs .nav-link {
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	color: #212529;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #595252;
	color: #fff;
	border: 1px solid #443e3e;
}
.tab-content {
	padding: 20px;
	border: 1px solid #ccc;
}
.tab-content .tab-pane .roomTitle {
	margin-bottom: 11px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.tab-content .tab-pane h3 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 19px;
	float: left;
}
.tab-content .tab-pane .btn {
	float: right;
	border-radius: 0;
}
.tab-content .tab-pane p {
	line-height: 25px;
	margin-bottom: 15px;
}
.tab-content .tab-pane b {
	display: block;
	padding-bottom: 7px;
	font-size: 16px;
}
.tab-content .tab-pane ul {
	margin-bottom: 15px;
}
.tab-content .tab-pane ul li {
	list-style: none;
	margin-bottom: 9px;
	position: relative;
}
.tab-content .tab-pane ul li:before {
	content: "\f0a4";
	font-family: FontAwesome;
	margin-right: 10px;
}
.tab-content .tab-pane .price {
	font-size: 20px;
	font-family: 'Cookie', cursive;/* background-color: #ccc; */
}
.tab-content .tab-pane .price b {
	display: inline-block;
	color: #e68a00;
	padding: 0;
	font-size: 21px;
}
/*Room & Rates Css End*/

/*Testimonial Css Start*/
.testimonial-wrapper {
	position: relative;
	background-image: url(../img/slider-one.jpg);
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0;
}
.testimonial-wrapper:before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.91);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.testimonial-wrapper .container {
	z-index: 9;
	position: relative;
}
.textured-gradient {
	background: url(../img/texture.png), -webkit-linear-gradient(top, #121212 0%, #000 100%);
	background: url(../img/texture.png), -moz-linear-gradient(top, #121212 0%, #000 100%);
	background: url(../img/texture.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #121212), color-stop(100%, #000));
	background: url(../img/texture.png), -o-linear-gradient(top, #121212 0%, #000 100%);
	background: url(../img/texture.png), -ms-linear-gradient(top, #121212 0%, #000 100%);
	background: url(../img/texture.png), linear-gradient(to bottom, #121212 0%, #000 100%);
}
.testimonialInfo {
	color: #fff;
	text-align: center;
}
.testimonialInfo h4 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.testimonialInfo p {
	line-height: 26px;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 14px;
}
.testimonialImg {
	width: 70px;
	height: 70px;
	display: block;
	background-color: #f37123;
	margin: 0 auto 20px auto;
	border: 4px solid #d0601e;
	border-radius: 50%;
}
span.name {
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
span.post {
	font-style: italic;
}
/*Footer Start*/
.top-footer {
	padding: 30px 0;
	border-bottom: 1px solid #161616;
	color: #212529;
	font-weight: 300;
}
.top-footer h3 {
	text-transform: uppercase;
	margin-top: 11px;
	font-weight: 300;
}
.top-footer ul.social_media {
}
.top-footer ul.social_media li {
	display: inline-block;
	list-style: none;
}
.top-footer ul.social_media li a {
	color: #212529;
	position: relative;
	display: block;
}
.top-footer ul.social_media li a i {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	background-color: #794C35;
	text-align: center;
	border-radius: 4px;
	color: #fff;
}
.top-footer ul.social_media li span {
	display: inline-block;
	font-size: 17px;
	vertical-align: top;
	margin: 0 18px;
}
.top-footer ul.social_media li span b {
	display: block;
	font-weight: bold;
}
.no-multiplebgs .textured-gradient, .no-cssgradients .textured-gradient {
	background: #000 url(../img/texture.png);
}
#page-footer {
	padding: 30px 0 0 0;
}
#page-footer h6 {
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 15px;
}
#page-footer ul {
}
#page-footer ul li {
	list-style: none;
	margin-bottom: 8px;
}
#page-footer ul li a {
	color: #fff;
}
#page-footer ul li a:hover {
	color: #e68a00;
}
.bottom_footer {
	border-top: 1px solid #191919;
	margin-top: 20px;
	padding: 20px 0;
	color: #fff;
}
.bottom_footer small {
}
.newsletter {
}
.newsletter small {
	color: #fff;
	display: block;
	margin-bottom: 10px;
	font-size: 12px;
}
.newsletter .form-control {
	background-color: transparent;
	border-radius: 0;
	border: 1px solid #444444;
	font-size: 14px;
}
.newsletter .btn {
}
.pagetop {
	background-image: url(../img/IMG_3823.jpg);
	min-height: 300px;
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;
}
.pageTitle {
	position: absolute;
	top: 0;
	left: 0px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	color: #fff;
	width: 100%;
	height: 100%;
	margin: 0;
	text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.35);
}
.pageTitle h3 {
	font-size: 40px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}
.pageTitle .breadcrumb {
	background-color: transparent;
	margin-bottom: 0;
}
.pageTitle .breadcrumb .breadcrumb-item {
	color: #fff;
	font-size: 13px;
}
.pageTitle .breadcrumb .breadcrumb-item a {
	color: #fff;
}
.pageTitle .breadcrumb .breadcrumb-item.active {
	color: #fff;
}
.breadcrumb-item+.breadcrumb-item::before {
	color: #fff;
}
.inner_content {
	padding: 50px 0;
}
.inner_content p {
	line-height: 25px;
}
.sectionTitle {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
}
.facilities_list {
}
.single_facilities_name {
	position: relative;
	padding-left: 57px;
	margin-bottom: 15px;
}
.single_facilities_name img {
	position: absolute;
	left: 0;
	top: 0;
}
.single_facilities_name p {
	color: #313a45;
	font-weight: 700;
	line-height: 34px;
}
.img-align-left {
	width: 400px;
	float: left;
	margin: 0 30px 10px 0px;
}
.img-align-right {
	width: 400px;
	float: right;
	margin: 0 0px 10px 30px;
}
.bottomContent {
	padding: 20px 0;
}
.largeImg {
	margin-bottom: 15px;
}
.testimonial-wrap li {
	list-style: none;
	display: block;
	position: relative;
	padding-left: 90px;
	margin-bottom: 15px;
	color: #333;
}
.testimonial-wrap li span.avtar {
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 32px;
	background-color: #ccc;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -45px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.testimonial-wrap li .testimonials {
	border: 1px solid #ccc;
	padding: 15px 15px;
	position: relative;
	background: transparent;
	min-height: inherit;
}
.testimonial-wrap li .testimonials:before, .testimonial-wrap li .testimonials:after {
	content: "";
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ccc;
	display: block;
	position: absolute;
	top: 50%;
	left: -10px;
	margin-top: -10px;
}
.testimonial-wrap li .testimonials:after {
	border-right: 10px solid #fff;
	left: -8px;
}
.testimonial-wrap li p {
	font-size: 13px;
	line-height: 22px;
	margin-top: 6px;
}
.testimonial-wrap li .name {
	font-weight: bold;
	float: left;
}
.testimonial-wrap li .date {
	font-size: 12px;
	font-style: italic;
	margin-left: 5px;
	float: right;
}
.review-form {
	border: 1px solid #ccc;
	padding: 20px;
	margin-left: 15px;
	margin-top: 40px;
	background-color: #fff;
}
.review-form h2.title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 11px;
	margin-bottom: 15px;
	max-width: 100%;
	font-size: 25px;
}
.review-form .form-group {
}
.review-form .form-group label {
	display: inline-block;
	width: 20%;
}
.review-form .form-group label sup, .form-contact .form-group sup, .red {
	color: #F00;
}
.review-form .form-group button {
	float: right;
}
.form-contact .form-group {
}
.form-contact .form-group .form-control {
	border-radius: 0;
	box-shadow: none;
}
.masonry-grid .blogpost {
	margin-bottom: 30px;
}
article.blogpost .overlay-container {
	display: block;
	overflow: hidden;
	position: relative;
}
article .overlay {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.2s ease-in-out 0s;
	visibility: hidden;
	width: 100%;
}
article .overlay-links a {
	background-color: #f19827;
	color: #fff;
	display: block;
	font-size: 23px;
	height: 50px;
	left: 50%;
	line-height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	position: absolute;
	text-align: center;
	top: 50%;
	vertical-align: middle;
	width: 50px;
}
article.blogpost:hover .overlay {
	opacity: 1;
	visibility: visible;
}
.contact-form h5 {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.circle {
	display: inline-block;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 100%;
}
.brand-bg a i {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin-right: 5px;
	color: #fff;
	font-size: 14px;
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-o-transition: background 2s ease;
	-ms-transition: background 2s ease;
	transition: background 2s ease;
}
.brand-bg a i:hover {
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-o-transition: background 2s ease;
	-ms-transition: background 2s ease;
	transition: background 2s ease;
}
.brand-bg a.facebook i {
	background: #3280e7;
}
.brand-bg a.facebook i:hover {
	background: #134fa0;
}
.brand-bg a.twitter i {
	background: #32c8de;
}
.brand-bg a.twitter i:hover {
	background: #188392;
}
.brand-bg a.google-plus i {
	background: #f96f4a;
}
.brand-bg a.google-plus i:hover {
	background: #eb6440;
}
.brand-bg a.linkedin i {
	background: #729fda;
}
.brand-bg a.linkedin i:hover {
	background: #3069b6;
}
.brand-bg a.pinterest i {
	background: #ed5441;
}
.brand-bg a.pinterest i:hover {
	background: #b72411;
}
/* Brand without background color */
.brand a i {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin-right: 10px;
	color: #fff;
	font-size: 14px;
	-webkit-transition: color 2s ease;
	-moz-transition: color 2s ease;
	-o-transition: color 2s ease;
	-ms-transition: color 2s ease;
	transition: color 2s ease;
}
.brand a i:hover {
	-webkit-transition: color 2s ease;
	-moz-transition: color 2s ease;
	-o-transition: color 2s ease;
	-ms-transition: color 2s ease;
	transition: color 2s ease;
}
.well {
	line-height: 28px;
	border: 0px;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	background: #fcfcfc;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
}
.well h6 {
	font-size: 16px;
	line-height: 28px;
	font-weight: 600;
	border-bottom: 1px solid #ccc;
	margin-bottom: 8px;
}
.well h6 i {
	margin-right: 3px;
}
.well p {
	margin: 2px 0px;
	padding: 0px;
	margin-bottom: 5px;
}
.well p i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border: 1px solid #ccc;
	text-align: center;
	border-radius: 50%;
	margin-right: 12px;
	margin-bottom: 9px;
}
.well a {
	color: #333;
}
.contact-form form {
	margin-top: 12px;
}
.contact-form form .form-group {
}
.contact-form form .form-group .form-control {
	background-color: transparent;
	font-size: 14px;
	border-radius: 0;
}
.traiffIncludes {
	padding: 10px 0;
	margin-bottom: 10px;
}
.traiffIncludes h6 {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}
.list {
}
.list li {
	list-style: none;
	position: relative;
	margin-bottom: 10px;
}
.list li:before {
	content: "\f0a4";
	font-family: FontAwesome;
	margin-right: 10px;
}
.roomList {
	position: relative;
	overflow: hidden;
	padding: 5px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}
.roomList .roomImg {
	position: relative;
	overflow: hidden;
	max-height: 190px;
}
.roomList .roomImg a {
}
.roomList .roomImg a img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.roomList .roomInfo {
	padding: 15px 15px;
}
.roomList .roomInfo h3 {
	float: left;
}
.roomList .roomInfo h3 a {
	color: #212529;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}
.roomList .roomInfo .price {
	float: right;
	font-size: 19px;
	font-weight: bold;
	color: #e68a00;
	display: block;
}
.roomList .roomInfo .price sub {
	font-weight: 300;
	font-size: 12px;
}
.roomList .roomInfo p {
	max-height: 50px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-bottom: 14px;
}
.roomList .roomInfo .btn {
}
.roomTitle {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.roomList:hover .roomImg img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.bookingForm {
	border: 1px solid #ccc;
	padding: 20px;
}
.booking-information {
	margin-bottom: 15px;
}
.bookingForm h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
	float: left;
}
.bookingForm .required {
	float: right;
	font-style: italic;
}
.bookingForm .form-group {
}
.bookingForm .form-group label {
	font-size: 14px;
}
sup {
	color: #ff0606;
}
.bookingForm .form-group .form-control {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}
.bookingForm .input-wrap {
	margin-right: 0;
}
.bookingForm .multiselect.dropdown-toggle {
	border: 1px solid #d9d9d9;
	padding: .5rem .75rem;
	color: #495057;
}
.bookingForm ul.multiselect-container.dropdown-menu {
	min-width: 100%;
	border-radius: 0;
}
.bookingForm .form-check {
	margin-top: 15px;
	margin-left: 0;
}
.bookingForm .form-check .form-check-label {
	display: block;
}
.bookingForm .form-check .form-check-label .form-check-input {
	margin-right: 6px;
	vertical-align: top;
}
.detail_title {
}
.detail_title h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.detail_title p.lead {
	margin-bottom: 15px;
}
.roomDetail h5 {
	font-size: 18px;
	margin-bottom: 15px;
}
.roomDetail {
}
.roomDetail p {
}
.roomDetail a.btn {
	width: auto;
	margin: 15px 0;
}
.btn-wrap {
	margin-top: 15px;
	margin-bottom: 15px;
}
.btn-wrap a.enquirebtn {
	border: 1px #d7d2d2 solid;
	font-size: 14px;
	line-height: 30px;
	padding: 2px 10px;
	color: #333;
	text-decoration: none;
	display: inline-block;
	margin-right: 8px;
}
.btn-wrap a.bookbtn {
	background: #555555;
	background: -moz-linear-gradient(top, #555555 0%, #2e2d2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #2e2d2d));
	background: -webkit-linear-gradient(top, #555555 0%, #2e2d2d 100%);
	background: -o-linear-gradient(top, #555555 0%, #2e2d2d 100%);
	background: -ms-linear-gradient(top, #555555 0%, #2e2d2d 100%);
	background: linear-gradient(to bottom, #555555 0%, #2e2d2d 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#2e2d2d', GradientType=0 );
	border: 1px #333232 solid;
	-moz-box-shadow: 0 1px 0px #767575 inset;
	-webkit-box-shadow: 0 1px 0px #767575 inset;
	box-shadow: 0 1px 0px #767575 inset;
	color: #e8e6e6;
	font-size: 14px;
	line-height: 30px;
	text-shadow: 1px 1px 0 #2f2f2f;
	padding: 2px 10px;
	text-decoration: none;
	display: inline-block;
}

.flexslider {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.flexslider .slides > li {
	max-height: 400px;
	overflow: hidden;
	position: relative;
}
.flex-direction-nav .flex-next {
	right: 0;
	text-align: center;
}
.flex-direction-nav .flex-prev {
	left: 0;
}
.flex-direction-nav a {
	height: 50px;
	width: 50px;
	line-height: 50px;
	border: 2px solid #fff;
	opacity: 1;
	text-align: center;
	border-radius: 50%;
}
.flex-direction-nav a:before {
	content: "\f104";
	font-family: 'FontAwesome';
	font-size: 23px;
	display: block;
	color: #fff;
}
.flex-direction-nav a.flex-next:before {
	content: "\f105";
}

.flexslider li .meta {
		position: absolute;
		top: 25%;
		left: auto;
		right: 10%;
		max-width: 450px;
		color: white;
		background: rgba(51, 51, 51, 0.5);
		padding: 20px 30px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		font-family: 'Roboto', sans-serif;
		-webkit-animation-delay: .4s;
		animation-delay: .4s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInRightSmall;
		animation-name: fadeInRightSmall;
}

.flexslider li h1 {
		margin-bottom: 0;
		font-size: 2.8em;
		font-weight: bold;
		margin-bottom: 11px;
}
.flexslider li h1 span {font-weight: 300;}
.flexslider li h2 {
		font-size: 1.1em;
		margin-bottom: 0;
		line-height: 22px;
		font-weight: 300;
		text-overflow: ellipsis;
		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		max-height: 70px;
		overflow: hidden;
		margin-bottom: 20px;
}



.flexslider li h1,
.flexslider li h2,
.flexslider li a.btn
{
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
}

.flexslider li.flex-active-slide .meta h1,
.flexslider li.flex-active-slide .meta h2, 
.flexslider li.flex-active-slide .meta a.btn
{
		-webkit-animation-delay: .4s;
		animation-delay: .4s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
}

.flexslider li.flex-active-slide .meta h2 {
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
}

.flexslider li.flex-active-slide .meta a.btn
{
	-webkit-animation-delay: .7s;
		animation-delay: .7s;
}
.flexslider li a.btn {background-color: #f37123;color: #fff;border-color: #ab4d15;text-transform: uppercase;font-size: 13px;letter-spacing: 1px;border-radius: 0;padding: 15px;}

@-webkit-keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}

@keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}

@-webkit-keyframes fadeOutLeft {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}

@keyframes fadeOutLeft {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}
@-webkit-keyframes fadeInRightSmall {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(20px, 0, 0);
 transform: translate3d(20px, 0, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
 @keyframes fadeInRightSmall {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(20px, 0, 0);
 -ms-transform: translate3d(20px, 0, 0);
 transform: translate3d(20px, 0, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 -ms-transform: none;
 transform: none;
}
}
.fadeInRightSmall {
	-webkit-animation-name: fadeInRightSmall;
	animation-name: fadeInRightSmall;
}
/* Scroll to top
---------------------------------- */
.scrollToTop {
	color: #fff;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	background-color: #000000;
	z-index: 1005;
	display: none;
}
.scrollToTop i {
	line-height: 50px;
	font-size: 24px;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.scrollToTop {
		width: 40px;
		height: 40px;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.scrollToTop i {
		line-height: 40px;
		font-size: 20px;
	}
}
